* {
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;	
	background: linear-gradient(to right, #1eeda4 , #2400ff);
	color: #FBF6F4;
	margin:0;
	font-weight: 300;
	line-height: 1.6;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

h1, h2{
	margin:0 ;
}

h1 {
	font-size: 4rem;
	position: relative;
	padding: 2.2rem 0;
	color: #2E8A6E;
	text-align: center;
	font-weight: 300;
	background-color: #fff;
}

.copyright {
	content: "";
	font-size: .8rem;
	color: #2E8A6E;
	position: absolute;
	bottom: 5px;
	right: 15px;
}

h2 {
	font-weight: 300;
	margin-top: 2rem;
	margin-bottom: 3rem;
}

h3 {
	margin: 10px 0;
	text-align: center;
}

strong {
	 color:#2E8A6E;
}

button {
	font-size: 1rem;
	border: none;
	color: #fff;
	padding: 1rem 1.5rem;
	border-radius: 4px;
	cursor: pointer;
}

.container {
	display:flex;
	flex-direction: column;
	align-items: center;
	
	padding: 3rem;
}

.color1, .color2 {
	border: none;
	width: 5rem;
	height: 5rem
}

.color1 {
	margin-right: 50px;
}

.infoBox {
	display: flex;
	flex-wrap: wrap;
}

.hex {
	display: flex;
	justify-content: center;
	flex: 1 0 100%;
}

.h3Left {
	margin-right:50px;
}

.h3Left, .h3Right {
	font-weight: 300;
}

.h3Center {
	margin-top: 20px;
	flex:1; 
	font-weight: 300;
}
